* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Exo 2', sans-serif;
}
.header {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, .78);
  display: flex;
  align-items: center;
  min-height: 56px;
  height: 56px;
  width: 100%;
}

.anchors {
  padding: 0 16px;
  width: 100%;
  max-width: 1240px;
  display: flex;
}

.anchor {
  margin-right: 12px;
  font-size: 18px;
  text-decoration: none;
  color: rgba(255, 255, 255, .8);
  font-weight: lighter;
}
.anchor:hover {
  color: rgba(255, 255, 255, 1);
}

.company-name {
  padding-top: 76px;
  font-family: 'Bangers', cursive;
  font-size: 64px;
  color: black;
  text-align: center;
}

.sub-title {
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 24px;
}

.section {
  padding: 0 16px;
}


.main {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
}

.main-text-wrapper {
  flex: 1;
  background-color: rgba(255, 255, 255, .8);
}

.main-text {
  box-shadow: 0 0 0 1px #eaeaea;
  background-color: white;
  padding: 28px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: lighter;
  position: relative;
}

.main-text:nth-of-type(odd) {
  background-color: #eaeaea;
}

.main-text-accent {
  font-size: 18px;
  font-weight: bold;
}

.main-img {
  position: sticky;
  top: 40px;
  background-image: url("assets/istockphoto-133300844-170667a.jpg");
  background-size: auto;
  height: 400px;
  width: 400px;
  min-width: 400px;
  min-height: 400px;
  flex-grow: 0;
  margin: 0 1px;
}
.info {
  height: 400px;
  display: flex;
  width: 100%;
  max-width: 1240px;
  background-color: #eaeaea;
  border-radius: 16px;
  margin-bottom: 20px;
}

.info-img {
  width: 40%;
  background-image: url("assets/komp.jpg");
  height: 100%;
  background-size: cover;
  border-radius: 16px 0 0 16px;
}

.info-img-right {
  width: 40%;
  background-image: url("assets/komp1.jpg");
  height: 100%;
  background-size: cover;
  border-radius: 0 16px 16px 0;
}

.info-text {
  padding: 34px;
  width: 60%;
}

.review {
  max-width: 600px;
  box-shadow: 0 0 0 1px #eaeaea;
  border-radius: 20px;
  padding: 28px;
  margin-bottom: 28px;
}
.review:hover {
  box-shadow: 0 0 6px 1px #dddddd;
}

.review-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 12px;
}

.review-body {
  font-weight: lighter;
  font-size: 16px;
  margin-bottom: 12px;
}

.sign {
  display: flex;
  justify-content: space-between;
}

.star {
  color: #efd61a;
}

.unstar {
  color: darkgray;
}

.review-name {
  font-weight: lighter;
  font-size: 14px;
  text-align: right;
}

.review-form {
  display: flex;
  flex-direction: column;
}

.review-form-item {
  margin-bottom: 24px;
}

.review-form-input {
  height: 32px;
}

.review-form-file {

}

.review-form-text {
  resize: none;
}

.footer {
  min-height: 168px;
  background-color: black;
  padding: 28px 16px 28px 16px;
}

.footer-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer-data-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1240px;
  margin-bottom: 24px;
}

.footer-anchors {
  display: flex;
  flex-direction: column;
}

.footer-anchor {
  color: rgba(255, 255, 255, .8);
  font-size: 18px;
  text-decoration: none;
  padding-bottom: 6px;
  font-weight: lighter;
}

.footer-anchor:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-form {
  width: 70%;
  max-width: 670px;
}

.footer-title {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 18px;
}

.form-input {
  height: 40px;
  width: calc(100% - 35%);
  background-color: white;
  border: none;
  color: green;
  padding: 0 8px;
  font-size: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-bottom: 8px;
}

.review-form-file {
  display: none;
}
.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 35%);
  padding: 0 8px;
  height: 40px;
  margin-bottom: 8px;
  text-align: center;
  background-color: gainsboro;
  color: gray;
  font-size: 16px;
}

.icon {
  vertical-align: middle;
  transform: rotate(38deg);
}

.form-text {
  width: calc(100% - 35%);
  background-color: white;
  border: none;
  color: green;
  padding: 8px;
  font-size: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  resize: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: grey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: grey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: grey;
}
:-moz-placeholder { /* Firefox 18- */
  color: grey;
}

.form-container {
  display: flex;
}

.form-btn {
  height: 40px;
  vertical-align: bottom;
  width: 35%;
  background-color: gray;
  border: none;
  font-size: 16px;
  color: rgba(255, 255, 255, .7);
  cursor: pointer;
  align-self: flex-end;
}

.footer-contacts {
  display: flex;
  justify-content: center;
}

.social {
  margin-left: 8px;
  cursor: pointer;
}
.show {
  display: none;
}

@media (min-width: 1240px) {
  .center-position {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 854px) {
  .main {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .hide {
    display: none;
  }
  .show {
    display: block;
    z-index: -1;
  }
  .info {
    position: relative;
    background-color: rgba(234, 234, 234, .8);
  }
  .info-stub {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("assets/komp.jpg");
    background-size: cover;
    z-index: -1;
    border-radius: 16px;
  }
  .info-stub-right {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("assets/komp1.jpg");
    background-size: cover;
    z-index: -1;
    border-radius: 16px;
  }
  .info-img {
    display: none;
  }
  .info-img-right {
    display: none;
  }
  .info-text {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .footer-data-wrapper {
    flex-direction: column;
  }
  .footer-anchors {
    margin-bottom: 28px;
  }
  .footer-form {
    width: 100%;
  }
}